html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #DDD;
  color: #fde7e2;
  min-width: 400px;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-position 2s ease;
}

#feature {
  position: relative;
  width: 100%;
  height: 75vh;
  padding-top: 20vh;
  overflow: hidden;
  transition: padding 1s ease, height 1s ease;
  background-image: linear-gradient(
    to bottom,  
    rgba(44, 42, 36, 0) 0%, 
    rgba(44, 42, 36, 0.1) 40%, 
    rgba(44, 42, 36, 0.3) 100%);
}

#title {
  display: inline-block;
  position: relative;
  left: 60%;
  transform: translateX(0%);
  transition: transform 2s ease, left 2s ease;
}

@media (max-width: 850px) {
  #feature {
    padding-top: 5vh;
    height: 90vh;
  }

  #title {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 550px) and (min-height: 550px) {
  body {
    background-position-x: -100px;
  }
}

#feature h1 {
  margin: 0;
  text-align: center;
  font-size: 40pt;
  font-family: 'Macondo', cursive;
  line-height: 1.2em;
  text-shadow: 0 0 20x black;
}

body#layout {
  padding-top: 60px;
}

@media (max-width: 980px) {
  body#layout {
    padding-top: 0px;
  }
}

#main-block, #about-block {
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom, 
    rgba(44, 42, 36, 0.3) 0, 
    rgba(44, 42, 36, 0.6) 100%);
  overflow-x: hidden;  
}

#main-block {
  min-height: calc(80vh - 43px);
  padding-top: 5vh;
}

#main-block ul {
  list-style-type: none;
  font-family: 'Macondo';
  font-size: 30pt;
  line-height: 1.5em;
  margin: 0;
  display: inline-block;
  position: relative;
  left: 65%;
  text-align: center;
  transition: left 2s ease, transform 2s ease;
  transform: translateX(0%);
}

@media (max-width: 850px) {
  #main-block ul {
    left: 50%;
    transform: translateX(-50%);
  }
}

#main-block a {
  text-decoration: none;
}

#main-block a:hover {
  text-decoration: underline;
}

#about-block {
  min-height: calc(100vh - 43px);
  padding-top: 5vh;
}

#about-me {
  overflow: auto;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 45%;
  left: 50%;
  top: 15vh;
  box-sizing: border-box;
  transition: left 2s ease, transform 2s ease, width 2s ease;
}

@media (max-width: 850px) {
  #about-me {
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
  }
}

div#about-me p {
  line-height: 1.3em;
  font-size: 16pt;
  text-shadow: 0px 0px 25px #222;
}

footer {
  text-align: center;
  color: #fde7e2;
  padding: 15px 0px 5px 0px;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom, 
  rgba(44, 42, 36, 0.6) 0%,
  rgba(22, 22, 18, 0.85) 40%,
  rgba(10, 10, 5, 1) 100%);
}

footer {
  line-height: 1.2em;
}

footer p {
  margin: 5px 0px 0px 0px;
  padding: 0px auto;
}

a {
  color: inherit;
}

footer br {
  display: none;
}

@media (max-width: 700px) {
  footer br {
    display: inherit;
  }
}
