---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='//fonts.googleapis.com/css?family=Macondo&amp;text=aAbBEgGHiJklnopsStuz%20-' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
  </head>
  <body id="main-body">
    <div id="about-block">
      <div id="about-me">
        <p>Julio Espinoza-Sokal is a software developer. Currently he works as a consultant building enterprise content and business process management systems. A graduate of the University of Maryland, he currently lives near Washington, D.C.</p>
      </div>
    </div>

    {% include footer.html %}
    {% include global_scripts.html %}
  </body>
</html>

