---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="openid.server" href="http://pip.verisignlabs.com/server" />
    <link rel="openid.delegate" href="http://julioes.pip.verisignlabs.com" />
    <link rel="openid2.provider" href="http://pip.verisignlabs.com/server" />
    <link rel="openid2.local_id" href="http://julioes.pip.verisignlabs.com" />
    <meta http-equiv="X-XRDS-Location" content="http://pip.verisignlabs.com/user/julioes/yadisxrds" />
    <link rel="me" type="text/html" href="http://www.google.com/profiles/julioes"/>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Macondo&amp;text=aAbBEgGHiJklnopsStuz-' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
    <script src="/js/modernizr.custom.js"></script>
  </head>
  <body id="main-body">

    <div id="main-block">
      <h1>{{ site.author.name }}</h1>
      <ul>
        <li><a href="about">About</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="https://github.com/julioes">GitHub</a></li>
      </ul>
    </div>

    {% include footer.html %}
    {% include global_scripts.html %}

  </body>
</html>

