---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="me" type="text/html" href="https://plus.google.com/+JulioEspinozaSokal"/>
    
    <link href='//fonts.googleapis.com/css?family=Macondo&amp;text=aAbBEgGHiJklnopsStuz%20-' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
  </head>
  <body id="main-body">
    <div id="feature">
      <div id="title">
        <h1>Julio<br />Espinoza-Sokal</h1>
      </div>
    </div>

    <div id="main-block">
      <ul>
        <li><a href="about">About</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="https://github.com/julioes">GitHub</a></li>
      </ul>
    </div>

    {% include footer.html %}
    {% include global_scripts.html %}
    <script>
      (function () {
        var el = document.getElementById('title');
        el.classList.add('title-transition');
      })();
    </script>
  </body>
</html>
