#about-block {
  box-sizing: border-box;
  overflow-x: hidden;
  padding-bottom: 50px;
  height: 100%;
  text-align: center;
}

#about-me {
  overflow: auto;
  position: relative;
  display: inline-block;
  width: 85%;
  max-width: 700px;
  top: 15vh;
}

#about-me p {
  line-height: 1.3em;
  font-size: 16pt;
}
